body{
    background-color: #3f2f5c;
    display: block;
}

.text-content{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 24px;
    gap: 16px;


    width: 312px;
    height: 116px;
    left: 564px;
    top: 40px;
    margin: auto;
    margin-bottom: 20px;

}

.title{
    color: beige;
    text-align: center;
    font-size: 32px;
    margin-bottom: 0%;
}

.subtitle{
    color: beige;
    text-align: center;
    font-size: 16px;
    padding: 0;
    margin-top: 0%;
}

.stacked{
   /* background-color: rgb(18, 100, 100);*/
    width: 1248px;
    height: 300px;
    left: 96px;
    top: 204px;
    margin: auto;
    display: flex;
    overflow: hidden;
    flex-wrap: wrap;
   /* border: 1px solid;*/
}

.box{
    flex: 0 0 50%;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    max-width: 312px;
    height: 30px;
    position: relative;
    color: rgb(253, 253, 253);
}

.box-label-input{
    flex-wrap: wrap;
    width: 150px;
    border-radius: 15px;
    justify-content: space-between;
    cursor: pointer;

}




.d1{
    width: 30px; 
    height: 30px;
    background: #000000;
    border-radius: 50%;
    margin-right: 10px;
}




li{
    display: block;
}

.menu{
    display: flex;
    color: beige;
}
.menu li{
    margin-right: 120px;
}

.cofdiv{
    width: 360px;
    /*height: 480px;*/
    background-color: rgb(5, 56, 100);
    box-shadow: rgb(0, 0, 0) 0px 5px 10px;
    margin: 30px auto;
    border-radius: 10px;

}

.image{
    max-width: 100%;
    height: auto;
    object-fit: contain;
    border-radius: 10px;
    
}

.qq .p-title {
    /*text-align: center;*/
    color: azure;
    padding: 0px  0px 25px 20px;
}

.qq .p-desc{
    color: bisque;
    padding: 0px 5px 5px 20px;
}